body {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    margin: 0 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.span-style {
    color: rgb(224, 224, 6);
}

.button {
    text-decoration: none;
    background-color: magenta;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 5%;
}

.button:hover {
    background-color: aquamarine;
    color: black;
}

.image {
    width: 100%;
}